<style>

    

    body {
      margin: 0;
      font-family: 'Arial', sans-serif;
      background: url('fond_num.jpg') no-repeat center center/cover;
      height: 100vh;
      overflow: hidden;
      position: relative;
    }

    /* Barre de progression */
    #progress-bar {
      width: 100%;
      height: 20px;
      background: #111;
      border-bottom: 2px solid #0f0;
      position: fixed;
      top: 0;
      left: 0;
    }
    #progress {
      width: 40%; /* exemple : progression en cours */
      height: 100%;
      background: linear-gradient(90deg, #0f0, #090);
      transition: width 1s;
    }

    /* Objets interactifs */
     .object {
      position: absolute;
      cursor: grab;
      user-select: none;
      transition: transform 0.2s;
    }
    .object:active {
      cursor: grabbing;
      transform: scale(1.05);
    }

    #bed { top: 200px; left: 100px; width: 300px; }
    #chest { bottom: 100px; right: 300px; width: 120px; }
    #ice { top: 500px; right: 400px; width: 100px; }
    #wall { top: 0 px; left: 0 px; width: 300px; }
    #soleil { top: 0px; right: 0px; width: 400px; }
    

    #wall {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%); /* centre exactement */
        width: 300px;
    }

  </style>