.section-game {
    display: flex;
    justify-content: space-around;
}
.inventory {
    width: auto;
    height: 250px;
    background-color: #ff00007d;
}
.game-window {
    width: 1280px;
    height: 720px;
    background: #1b2430;
    border: 3px solid black;
    border-radius: 5px;
}
.scene {
    height: 720px;
}
form {
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}